@import './theme.css';
@import './utilities.css';

:root {
  --color-pre-primary: hsl(238, 50%, 95%);
  --color-primary: hsl(238, 50%, 90%);
  --color-secondary: hsl(238, 50%, 10%);
  --color-tertiary: hsl(298, 80%, 20%);
  --color-accent: hsl(178, 80%, 20%);

  --max-width: 70rem; /* 1120px */
  --content-width: min(100%, var(--max-width));

  --space-sm: 0.5rem; /* 8px */
  --space-md: 1rem; /* 16px */
  --space-lg: 2rem; /* 32px */
  --space-3xl: 6rem; /* 96px */

  --shadow-s:
    inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
  --shadow-m:
    inset 0 1px 2px #ffffff30, 0 2px 4px #00000030, 0 4px 8px #00000015;
  --shadow-l:
    inset 0 1px 2px #ffffff30, 0 4px 6px #00000030, 0 6px 10px #00000015;

  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extra-bold: 900;
}
html.dark {
  --color-pre-primary: hsl(238, 50%, 15%);
  --color-primary: hsl(238, 50%, 10%);
  --color-secondary: hsl(238, 50%, 90%);
  --color-tertiary: hsl(298, 80%, 80%);
  --color-accent: hsl(178, 80%, 80%);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --color-pre-primary: hsl(238, 50%, 15%);
    --color-primary: hsl(238, 50%, 10%);
    --color-secondary: hsl(238, 50%, 90%);
    --color-tertiary: hsl(298, 80%, 80%);
    --color-accent: hsl(178, 80%, 80%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Ubuntu,
    Cantarell,
    'Noto Sans',
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}
