.editor {
  margin-top: var(--space-3xl);
  width: var(--content-width-small);
  margin-inline: auto;
}

.pending {
  display: flex;
  justify-content: center;
  padding-block: var(--space-xl);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 0.25rem;
}
